<head>
  <meta charset="utf-8">
  <title>Electobot</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/register.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h1>
    Electobot
  </h1>

  <div class="wrapper">
    {% for m in infos %}
    <div class="info">{{ m }}</div>
    {% endfor %}
    {% for m in successes %}
    <div class="success">{{ m }}</div>
    {% endfor %}
    {% for m in warnings %}
    <div class="warning">{{ m }}</div>
    {% endfor %}
    {% for m in errors %}
    <div class="error">{{ m }}</div>
    {% endfor %}
    <div class="container">

      <h1>Welcome!</h1>
      <form class="form" action="/register" method="post">
        {% if event_token %}
        <input type="hidden" name="event_token" value="{{ event_token }}">
        <p>You're currently registering for <i>{{ event_name }}</i>.</p></br>
        {% else %}
        <input placeholder="Event token" type="text" name="event_token">
        {% endif %}
        <input placeholder="Email" name="email" required="required" type="email" id="email" />
        </br>
        <input type="submit" value="Proceed" />
      </form>
    </div>
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>