<head>
<meta charset="utf-8">
<title>Electobot</title>
<style type="text/css">body{margin:40px
auto;max-width:640px;line-height:1.7;font-size:18px;color:#444;padding:0
10px}h1{line-height:1.4}input{margin-bottom: 10px;}</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>
    Electobot
</h1>
<p>Welcome.</p>
<div>
  <form action="/vote?token={% voter_token %}&poll_id={% poll_id %}" method="post">
    {% proxy_html %}
    Cast your votes:
    <ul>
        {% options_list %}
    </ul>
</br>
</br></br>
<input type="submit" value="Submit"/>
</form> 
</div>
</body>

