div.info,
div.success,
div.warning,
div.error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px;
    max-width: 600px;
    margin: 0 auto;
}

div.info {
    color: #00529b;
    background-color: #bde5f8;
}

div.success {
    color: #4f8a10;
    background-color: #dff2bf;
}

div.warning {
    color: #9f6000;
    background-color: #FEEFB3;
}

div.error {
    color: #D8000C;
    background-color: #FFBABA;
}